.card-languages {
    height: 120px;
    place-content: center;
    border: 1px solid white;
    box-shadow: inset 0 0 2px 2px black;
    font-weight: bold;
    /* -webkit-text-stroke: 0.2px white; */
    color: black;
}

.bg-coincidence-false {
    background-color: rgba(var(--bs-danger-rgb));
}

.bg-coincidence-true {
    background-color: rgba(var(--bs-success-rgb));
}

/* .bg-coincidence-1 {
    background-color: #ff7536;
} */

.bg-coincidence-1 {
    background-color: rgba(252, 217, 61, 0.9);
}

.bg-coincidence-2 {
    background-color: rgba(189, 253, 94, 0.7);
}

.bg-coincidence-minus {
    background-color: rgba(var(--bs-danger-rgb));
    background-image: url('https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

}

.bg-coincidence-more {
    background-color: rgba(var(--bs-danger-rgb));
    background-image: url('https://www.pngmart.com/files/3/Up-Arrow-PNG-Picture.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}